# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (very important for project)
*.csv
*.xlsx

# Model files
*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/